
body{
	font-family: sans-serif;
	font-size: 15px ;
	font-weight: 200;
}


.conference{
    font-weight:bold;
}

h5{
    margin-bottom: 1px;
}

h4{
    margin-bottom: 1px;
}

table.service {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; 
}
table.service td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-bottom: 0; }

.fa {
    color: black;
}

.contactlist{
    padding-right:5px;
    display:inline;
}

.container {
  max-width: 900px; }

.header {
  margin-top: 2rem; 
  margin-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;}

.footer {

    padding-top: 2rem;
    border-top: 1px solid #eee;
    font-size: 1.2rem;  
    
}

.title { text-align: left; }

.sidebar h2 {
    font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;
    margin-bottom: 1rem;
}

ul.contact {
  list-style: none;
}

ul.contactimg {
  list-style: none;
  font-size: 1.4rem;

}

ul.contact img {
    margin-top: .5em;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    height: 4rem;
}

table.publications {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-top: 1px solid #E1E1E1;     
  border-bottom: 1px solid #E1E1E1; 
}
table.publications td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-bottom: 0; }

table.publications 
th:first-child,
td:first-child {
  min-width: 20rem; }

table.news {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; 
}
table.news td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-bottom: 0; }

table.news 
th:first-child,
td:first-child {
  min-width: 8rem; }

table.projects {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; 
}
table.projects td {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 0px;
  border-bottom: 1px solid #E1E1E1; 
  border-top: 1px solid #E1E1E1; } 

table.projects 
th:first-child,
td:first-child {
  min-width: 15rem; }

table.projectdata {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 0rem;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}
table.projectdata td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 0; }

table.projectdata
th:first-child,
td:first-child {
  min-width: 8rem; }



table.schedule {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 0rem;
  border-top: 1px solid #E1E1E1;     
  border-bottom: 1px solid #E1E1E1; 
}
table.schedule td {
  text-align: left;   
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 0px;
  border-bottom: 1; }


h3.bibliography {
 font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;
 margin-bottom: 1rem;
}


li {
    margin-bottom: 0rem;
}

ul {
    margin-top: 0rem; 
    list-style-position: inside;
}

ol.bibliography {
  list-style-type: decimal;
  list-style-position: outside;
  text-indent: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-right; 0rem;
}

ol.bibliography li {
  margin-bottom: 1rem;
  margin-right: 0rem;
  padding-right: 0rem;
  display: list-item;
  text-indent: 0em;
  padding-left: 0.5em;
}  

ol.inlinebibliography {
  list-style-type: decimal;
  list-style-position: outside;
  text-indent: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-right; 0rem;
}
ol.inlinebibliography li {
  margin-bottom: 0rem;
  margin-right: 0rem;
  padding-right: 0rem;
  display: list-item;
  text-indent: 0em;
  padding-left: 0.5em;
} 





a {
    text-decoration: none;
    /* color: dodgerblue; */
    color: #00b5b5;
}

a:hover {
  /* color: mediumslateblue;  */
  color: #FF6347;
}

nav {
  flex: 0 0 200px;
  height: 45px;
  white-space: nowrap;
  display: flex;
  align-content: end;
  align-items: end;
  justify-content: space-between;
}

#nav {
 margin: 13px 2px 0 0;
display: flex;
  align-content: end;
  align-items: end;
  justify-content: space-between;
}

a.nolink {
    text-decoration: none;
    color: black;
}
 
#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
 margin-bottom: 130px;
 font-size: 1.8rem; line-height: 1.5;  letter-spacing: 0;
}
 
#nav a {
 text-decoration: none;
 color: dimgray
}
 
#nav a:hover {
 color: #FF6347
}

ul.indent {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -2em;
  padding-left: 3em;
   margin-bottom: -0.1em;
}

ul.noindent {
    list-style-type: disc;
    margin-top: 0rem; 
    list-style-position: outside;
    text-indent: 0em;
     padding-left: 1em;
}

p {
	text-align: justify;
}

span.paper {
	font-weight: 500;
}
